.post {
    margin: 1.5rem;
    padding: 1.5rem;
    box-shadow: 0rem 0rem 0.8rem 0.3rem var(--tertiary-button);
}

.postTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.topLeft {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

.name {
    font-size: 1rem;
    font-weight: 550;
}

.postTime {
    font-size: 0.8rem;
}

.profile {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.postCenter {
    margin-bottom: 1rem;
}

.caption {
    margin-bottom: 1rem;
    font-weight: 500;
}

.postImg {
    height: 30rem;
    width: 30rem;
    object-fit: cover;
}

.postBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bottomLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.postIcon {
    cursor: pointer;
    color: var(--accent);
}

.bottomRight {
    cursor: pointer;
    border-bottom: 0.01rem solid var(--darker-grey);
}