.shareBox {
    margin: 1.5rem;
    padding: 1rem;
    box-shadow: 0rem 0rem 0.8rem 0.3rem var(--tertiary-button);
}

.profile {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.topShare {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.inp {
    border: none;
    width: auto;
    flex-grow: 1;
}

.inp:focus {
    outline: none;
}

.bottomShare {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.shareTabs {
    display: flex;
    flex-direction: row;
    gap: 0.1rem;
    align-items: center;
    font-size: 0.9rem;
}

.shareIcon {
    font-size: 0.8rem;
}

.shareButt {
    border-radius: 0.5rem;
    background-color: var(--primary-button);
    border: none;
    color: var(--text-light);
    font-size: 1rem;
}