.infoBar {
    flex: 3;
    margin: 1.5rem;
}

.heading {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.infoCard {
    margin-bottom: 1.5rem;
    padding: 1rem;
    box-shadow: 0rem 0rem 0.8rem 0.3rem var(--tertiary-button);
}

.infoIcon {
    color: var(--darker-grey);
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.friendCard {
    padding: 1rem;
    box-shadow: 0rem 0rem 0.8rem 0.3rem var(--tertiary-button);
}

.friends {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.friendInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
}

.friendImg {
    width: 5rem;
    height: 5rem;
    border-radius: 10%;
    object-fit: cover;
}

.friendName {
    font-weight: 550;
}