:root {
  --text: #090609;
  --background: #ffffff;
  --primary-button: #8d687e;
  --secondary-button: #e1f1e0;
  --accent: #392852;
  --background: #e6d1f2;
  --text-light: #ffffff;
  --tertiary-button: #eae9e9;
  --darker-grey: #999999;
}